<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- alarm -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- alert -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KIFFLARM">

        <!-- Alarm -->
        <activity
            android:name=".alarm.AlarmActivity"
            android:exported="false"/>

        <!-- MAIN -->
        <activity
            android:name=".KIFFLARM"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.kiefer.kifflarm.alarm.receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <receiver android:name=".alarm.receivers.BootCompletedReceiver"/>

        <receiver
            android:name="com.kiefer.kifflarm.alarm.receivers.NotificationDismissedReceiver"
            android:exported="false">
        </receiver>


        <!--
        <receiver
            android:name="com.example.kifflarm.alarm.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        -->

        <!--
        <receiver android:name=".alarm.AlarmReceiver" />
        <receiver android:name=".alarm.BootCompletedReceiver" />
        -->
    </application>
</manifest>